body	{
    font-family:Arial;
}
#content {
    width:50%;
 margin:0 auto;
}
h2	{
    text-align:center;
    margin-top:50px;
}

.cursor-pointer {cursor:pointer;}
#container {
    width:fit-content;
    margin:40px auto;
}
input {
    font-size:18px;
    margin-bottom:20px;
    padding:5px;
}
textarea {
    height:100px;
    width:300px;
    margin-bottom:30px;
    font-size:16px;
    margin-top:15px;
    padding:5px;
}

textarea::placeholder {
    font-family:Arial;
}

label {
    margin-right:20px;
    margin-bottom:20px;

}

.question {
    padding:20px;
}


.item {
    display:flex;
}
.item .image {
    width:250px;
}

.item .image img   {
    display:inline-block;
    vertical-align:top;
    height:75px;
    margin-left:50px;
    margin-right:20px;
    margin-bottom:10px; }

.desc {
    display:inline-block;
    width:60%;
    max-width: 800px;
    height:100%;
    font-family:Arial;
    margin-bottom:10px;
    cursor:pointer;
}

.modal.active{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, .5);
    display: block;
}

.modal .innermodal {
    background-color: #ffffff;
    border-radius:25px;
    margin: 25vh auto;
    padding: 80px 50px 60px;
    width: 50vw;
    min-height: 12vh;
}

.modal .innermodal .close {
    float:right;
    margin: -55px -33px 0 -20px;
}

.modal .innermodal .close:hover {
    cursor: pointer;
}

.modal .innermodal .close img {
    width:40px;
    height:auto;
}

.modal .innermodal .image {
    float:right;
    width: 180px;
}

.modal .innermodal .image img {
    width: 100%;
    margin:10px;
    height:auto;
}

.modal .innermodal .name {
    font-size: 20px;
    font-weight:bold;
    margin-bottom:10px;
}
.modal .innermodal .description {
    font-size: 16px;
}

.random-item img {
    height: 50vh;
    width:auto;
}